<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <!-- <meta http-equiv="X-UA-Compatible" content="IE=edge"> -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.7.0/chart.min.js"></script>
    <!-- <script src="https://cdn.jsdelivr.net/npm/chart.js"></script> -->
    <link
      rel="stylesheet"
      href="{{url_for('static', filename='styles.css')}}"
    />
    

    <title>Tableau de bord PRAVAN</title>
  </head>
  <body>
    <div id="fix">
      <header id="header">
        <a href="http://www.usthb.dz" class="logo"
          ><img class="logo" src="../static/Images/usthbWHITE.png" alt="logo"
        /></a>
        <h1 class="titre">Tableau de bord PRAVAN</h1>
        Vue Generale: 
        <label class="switch">
          <input type="checkbox" class="vue-generale">
          <span class="slider round"></span>
        </label>
        <button class="download_pdf" onclick="updateChart2('SPECIALITE_1', 'SPECIALITE_2', 'SPECIALITE_3')">Actualiser</button>
        
      </header>

      <!-- Sidebar (left) -->
      <div id="sidebar" class="card">
        <h2 class="name">Axel BELKACEMI</h2>
        <ul>
          <li data-tab-target="#chart1" class="active">chart 1</li>
          <li data-tab-target="#chart2">chart 2</li>
          <li data-tab-target="#chart3">chart 3</li>
        </ul>
      </div>
    </div>
    <div class="main">
      <div id="chart1" class="active tab-content" data-tab-content>
        <h3>Chart 1:</h3>
       
        <div class="canvas">
        <canvas id="canvas1" ></canvas>
      </div>
      </div>
      <div id="chart2" class="tab-content" data-tab-content>
        <h3>Chart 2:</h3>
        <div id="choix-spec">
        <label class="container">1
          <input type="checkbox" class="specialite-choix" value="1" checked="checked">
          <span class="checkmark"></span>
        </label>
        
        <label class="container" >2
          <input type="checkbox" class="specialite-choix" value="2" checked="checked">
          <span class="checkmark"></span>
        </label>
        
        <label class="container" checked="checked">3
          <input type="checkbox" class="specialite-choix" value="3">
          <span class="checkmark"></span>
        </label>
        <label class="container">4
          <input type="checkbox" class="specialite-choix" value="4">
          <span class="checkmark"></span>
        </label>
        <label class="container">5
          <input type="checkbox" class="specialite-choix" value="5">
          <span class="checkmark"></span>
        </label>
        <label class="container">6
          <input type="checkbox" class="specialite-choix" value="6">
          <span class="checkmark"></span>
        </label>
        <label class="container">7
          <input type="checkbox" class="specialite-choix" value="7">
          <span class="checkmark"></span>
        </label>
        <button class="btn" onclick="reloadChart2()">Charger</i></button>
      </div>
      <div class="canvas">
        <canvas id="canvas2" class="tab-content"></canvas>
      </div>
      </div>
      <div id="chart3" class="tab-content" data-tab-content>
        <h1>Chart 3:</h1>
        <div class="canvas radar">
        <canvas id="canvas3"></canvas>
      </div>
      </div>
     
    </div>
  </body>
  <script src="{{url_for('static', filename='script1.js')}}"></script>
</html>
